body{
  background: #fff;
}
header{
  background: #573c27;
  height: 3.7em;
}
.dropdown {
  margin: 0.5% 0 0 7%;
}
.dropdown button{
  background: none;
  border: none;
}
#top-right{
 margin: -2.5% 5% 0 0;
}
#top-right li a{
   color: #fff;
}
#logo{
    margin: 2% 0 0 5%;
}
#time{
    margin: 2% 0 0 5%;
}
#time span{
    vertical-align: 0.15em;
#search{
    margin: 2% 0 0 5%;
}
#search li a{
    width: 24em;
}